name: assignment-test
on:
    push:
        tags-ignore:
            - '*'
        branches:
            - '*'
jobs:
    unit-test:

        container: cuaesd/aesd-autotest:unit-test
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v2
          - name: Checkout submodules
            run : git submodule update --init --recursive
          - name: Run unit test
            run: ./unit-test.sh


    full-test:

        container: cuaesd/aesd-autotest:24-assignment3
        runs-on: ubuntu-latest
 
        steps:
          - uses: actions/checkout@v2
          - name: Checkout submodules
            run : git submodule update --init --recursive
          - name: Install Netcat
            run: |
              sudo apt-get update
              sudo apt-get install -y netcat-openbsd  
          - name: Run full test
            run: ./full-test.sh
